In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range("20130101", periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [8]:
df

                   A         B         C         D
2013-01-01  0.586995  1.038608 -0.475615 -0.215877
2013-01-02 -0.394483  2.475879  1.901043  0.189403
2013-01-03 -1.064142  0.421629 -0.838248  0.317353
2013-01-04 -0.493121  1.883122  0.849182 -1.181925
2013-01-05 -0.200604 -0.357015 -0.627867 -0.163626
2013-01-06  0.532375  0.135047  1.443242  0.743788

In [9]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3]*4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.head()

                   A         B         C         D
2013-01-01  0.586995  1.038608 -0.475615 -0.215877
2013-01-02 -0.394483  2.475879  1.901043  0.189403
2013-01-03 -1.064142  0.421629 -0.838248  0.317353
2013-01-04 -0.493121  1.883122  0.849182 -1.181925
2013-01-05 -0.200604 -0.357015 -0.627867 -0.163626

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df["A"]

2013-01-01    0.586995
2013-01-02   -0.394483
2013-01-03   -1.064142
2013-01-04   -0.493121
2013-01-05   -0.200604
2013-01-06    0.532375
Freq: D, Name: A, dtype: float64

In [15]:
df[0:1]

                   A         B         C         D
2013-01-01  0.586995  1.038608 -0.475615 -0.215877

Why are dynamic, interactive data visualizations useful when communicating data?

Opposed to static images, interactive data visualizations allows its users to explore data freely with much less boundaries and limitations to uncover both desired and unexpected outcomes.

In [16]:
df.to_csv('pandas_Challenge.csv')